body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  background-color: black;
}

a {
  text-decoration: none;
  color: #ec5242;
}

a:hover {
  color: #ec5242;
  text-decoration: none;
}

.partner li {
  text-decoration: none;
  padding: 30px;
}

.navbar-mobile a {
  padding: 10px 20px;
  font-size: 15px;
  color: gray;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: grey;
  text-transform: uppercase;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: #ec5242;
}

.services .icon-box h4 a {
  color: #353535;
  transition: ease-in-out 0.3s;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #d3d3d3;
}

.navbar li {
  position: relative;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.team .member .social i {
  font-size: 18px;
  line-height: 0;
}

.about .icon-box {
  margin-top: 40px;
}

.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #d6e8bf;
  border-radius: 50px;
  transition: 0.5s;
}

.about .icon-box .icon i {
  color: #ec5242;
  font-size: 32px;
}

.about .icon-box .title a {
  color: #343a40;
  transition: 0.3s;
}

.services .icon-box .icon i {
  color: #bfdb99;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.team .member .social a {
  transition: color 0.3s;
  color: #353535;
  margin: 0 3px;
  border-radius: 50px;
  width: 36px;
  height: 36px;
  background: #8fc04e;
  display: inline-block;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i,
.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar-mobile .dropdown ul a:hover,
.navbar .dropdown ul li:hover > a,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
  color: #ec5242;
}

/* --------------------------------------------------------------
# nav bar
-------------------------------------------------------------- */
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/* --------------------------------------------------------------
# partner
-------------------------------------------------------------- */

.partner {
  display: flex;
  text-decoration: none;
  width: 20px;
  list-style: none;
}

.pat-img ul {
  display: flex;
  text-decoration: none;
  width: 60px;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #8fc04e;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top:hover {
  background: #ec5242;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* --------------------------------------------------------------
# Services
-------------------------------------------------------------- */

.services .icon-box {
  text-align: center;
  border: 1px solid #e5f0d5;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f3f8ec;
  border-radius: 50px;
  border: 1px solid #d6e8bf;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}

.services .icon-box:hover .icon {
  border-color: #ec5242;
}

/* --------------------------------------------------------------
# Sections General
-------------------------------------------------------------- */

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #f3f8ec;
  color: #ec5242;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #ec5242;
}

/* --------------------------------------------------------------
# Team
-------------------------------------------------------------- */

.team {
  background: white;
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team .member .social a:hover {
  background: #ec5242;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaa;
}

.team .member .member-info {
  padding: 25px 15px;
}

.about .box-heading h4 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0 0 15px 0;
  background: #f3f8ec;
  color: #ec5242;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: black;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/* --------------------------------------------------------------
# About
-------------------------------------------------------------- */

.about .box-heading h3 {
  font-size: 28px;
  font-weight: 700;
  color: #353535;
  margin-bottom: 15px;
}

.about .icon-box:hover .icon {
  background: #ec5242;
  border-color: #ec5242;
}

.about .icon-box:hover .icon i {
  color: #fff;
}

.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.about .icon-box .title a:hover {
  color: #ec5242;
}

.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}

.about .video-box {
  background-size: cover;
  min-height: 400px;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#ec5242 50%, rgba(143, 192, 78, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid #ec5242;
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:hover::after {
  border-left: 15px solid #8fc04e;
  transform: scale(20);
}

.about .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

#topbar .social-links a {
  color: white;
  line-height: 0;
  transition: 0.3s;
  margin-left: 10px;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

/* --------------------------------------------------------------
# Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs {
  padding: 15px 0;
  background: #f4f4f4;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  padding-top: 4px;
  font-weight: 500;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #4f4f4f;
  content: "/";
}

/**
* Desktop Navigation
*/
.navbar {
  padding: 0;
}

.navbar .getstarted {
  background: white;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}

.navbar-mobile .getstarted {
  margin: 15px;
}

.navbar .getstarted:hover {
  color: #fff;
  background: #ec5242;
}

/**
* Mobile Navigation
*/

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 8px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #d3d3d3;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

/* --------------------------------------------------------------
# Portfolio Details
-------------------------------------------------------------- */
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #8fc04e;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ec5242;
}

.portfolio-details .portfolio-info h2 {
  padding: 30px;
  box-shadow: 0 0 30px rgba(53, 53, 53, 0.08);
  color: #ec5242;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #ec5242;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul h2 {
  list-style: none;
  padding: 0;
  font-size: 15px;
  color: #ec5242;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

/* --------------------------------------------------------------
# Portfolio
-------------------------------------------------------------- */
.portfolio {
  padding-bottom: 40px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px 10px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444;
  margin: 0 3px 10px 3px;
  transition: all ease-in-out 0.3s;
  background: #efefef;
  border-radius: 50px;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #fff;
  background: #8fc04e;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.portfolio .portfolio-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: -50px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: #8fc04e;
  padding: 15px 20px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #ec5242;
  transition: ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 15px;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #d6e8bf;
}

.portfolio .portfolio-item:hover img {
  top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 0;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  line-height: 56px;
  color: #ec5242;
}

#header .logo h1 a {
  color: #fff;
  text-decoration: none;
}

#topbar .social-links a:hover {
  color: #ec5242;
}

#topbar .contact-info i a:hover {
  color: #ec5242;
}

#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#topbar {
  background: #1c1c1c;
  padding: 10px 0;
  font-size: 14px;
  color: #d3d3d3;
}

#topbar .contact-info i {
  font-style: normal;
  color: #ec5242;
}

#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: white;
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 11px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.scrolled-offset {
  margin-top: 70px;
}

@media screen and (max-width: 768px) {
  .mobile-nav-toggle {
    display: none;
  }

  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1366px) {
  .mobile-nav-toggle {
    display: none;
  }

  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

@media (max-width: 992px) {
  .mobile-nav-toggle {
    display: block;
  }
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }

  .section-title p {
    width: 50%;
  }
}

/* --------------------------------------------------------------
# Hero Section
-------------------------------------------------------------- */

#hero {
  width: 100%;
  height: 200vh;
  background: url("../img/bs.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: relative;
  bottom: 0;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: right;
  flex-direction: column;
  text-align: left;
  padding: 15px;
}

#hero .hero-container2 {
  position: relative;
  bottom: 0;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 15px;
  color: white;
}

#hero h2 {
  color: #ec5242;
  margin-bottom: 30px;
  font-size: 70px;
}

#hero br {
  color: #ec5242;
  margin-bottom: 30px;
  font-size: 70px;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/* --------------------------------------------------------------
# Footer
-------------------------------------------------------------- */

#footer {
  color: #fff;
  font-size: 10px;
  position: relative;
}

#footer::before {
  position: absolute;
  background: rgba(15, 15, 15, 0.75);
}

#footer .footer-top {
  position: relative;
  padding: 10px 0;
}

#footer .footer-top h3 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  position: relative;
  font-family: "Lato", sans-serif;
}

#footer .footer-top p {
  font-size: 10px;
  font-style: italic;
  margin: 5px 0 0 0;
  text-align: left;
}

#footer .footer-bottom {
  border-top: 1px solid #282828;
  position: relative;
  padding-top: 10px;
  padding-bottom: 20px;
}
